<div class="main-content" style="margin-left: 260px;">
  <div class="dashboard-table-container">
    <div class="job-form">
      <%= form_with(model: @job_post, url: admin_job_post_path(@job_post), method: :patch, local: true) do |form| %>
        <div class="job-title-field">
          <%= form.text_field :title, class: 'form-control', placeholder: 'Job Title' %>
        </div>

        <div class="job-detail-field">
          <%= form.text_area :details, class: 'form-control', placeholder: 'Job Details' %>
        </div>

        <div class="job-detail-field">
          <%= form.text_area :requirements_and_qualification, class: 'form-control', placeholder: 'Requirements & Qualifications' %>
        </div>

        <div class="job-post-btn">
          <%= form.button 'Update', type: 'submit', class: 'job-post-btn-text' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

