<div class="main-content" style="margin-left: 260px;">
  <table class="dashboard-table-container">
    <thead>
      <tr class="dashboard-table-lines">
        <th>Title</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @job_posts.each do |job_post| %>
        <tr class="dashboard-table-lines">
          <td class="table-first-column"><%= job_post&.title %></td>
          <td class="table-second-column">
            <span><%= job_post&.job_status %></span>
          </td>
          <td class="action-cell">
            <div class="dropdown">
              <%= image_tag("more.png", width: "20", height: "20", alt: "Edit User", class: "dropdown-toggle") %>
              <div class="dropdown-menu">
                <%= link_to 'Details', admin_job_post_path(job_post) %>
                <button id="modal-btn" class="delete-btn-color">Delete</button>
              </div>
            </div>
          </td>

          <div id="myModal" class="modal">
            <div class="modal-checkout jobs-modal-box">
              <span class="close-modal" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
              <img src="<%= asset_path('delete-job-icon1.svg') %>" alt="Delete Job Icon" class="delete-job-icon">
              <img src="<%= asset_path('delete-job-icon.svg') %>" alt="Delete Job Icon" class="delete-job-icon-style">
              <br>
              <h2 class="delete-job-warning"> Delete Job? </h2>
              <p class= "delete-job-warning-msg"> Are you sure you want to delete this job? </p>

              <div class= "applicants-button-container">
                <div class= "delete-job-confirmation-btn">
                  <%= button_to 'Yes, Delete', admin_job_post_path(job_post), method: :delete, class: "delete-job-confirmation-btn-text" %>
                </div>
                <div class="delete-job-cancel-btn">
                  <button id="cancelBtn" class="delete-job-cancel-btn-text" onclick="document.getElementById('myModal').style.display='none'"> Cancel </button>
                </div>
              </div>
            </div>
          </div>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  document.addEventListener('turbo:load', function() {
    var dropdownToggles = document.querySelectorAll('.dropdown-toggle');
    var dropdownMenus = document.querySelectorAll('.dropdown-menu');

    dropdownToggles.forEach(function(toggle) {
      toggle.addEventListener('mouseenter', function() {
        var menu = this.nextElementSibling;
        menu.style.display = 'block';
      });

      toggle.addEventListener('mouseleave', function() {
        var menu = this.nextElementSibling;
        menu.style.display = 'none';
      });
    });

    dropdownMenus.forEach(function(menu) {
      menu.addEventListener('mouseenter', function() {
        this.style.display = 'block';
      });

      menu.addEventListener('mouseleave', function() {
        this.style.display = 'none';
      });
    });
  });

  var modal = document.getElementById("myModal");
  var btn = document.getElementById("modal-btn");

  btn.onclick = function() {
    modal.style.display = "block";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  
</script>
