<% content_for :link_button do %>
  <div class="action-header-position">
    <div class="action-header-text">
    </div>
    <div class="create-job-btn">
      <%= button_to "+ Create job", new_admin_job_post_path, method: :get, class: "create-job-btn-text" %>
    </div>
  </div>
<% end %>

<div style="margin-left: 260px;">
  <table class="dashboard-table-container">
    <thead>
      <tr class="dashboard-table-lines">
        <th>Title</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="job-posts-table-body">
      <% @job_posts.each do |job_post| %>
        <tr class="dashboard-table-lines" data-job-post-id="<%= job_post.id %>">
          <td class="table-title-column"><%= truncate_with_ellipsis(job_post.title, 50) %></td>
          <td class="table-status-column">
            <span><%= job_post&.job_status.capitalize %></span>
          </td>
          <td class="table-actions-column">
            <div class="dropdown">
              <%= image_tag("more.png", width: "20", height: "20", alt: "More Actions", class: "dropdown-toggle") %>
              <div class="dropdown-menu">
                <%= link_to 'Details', admin_job_post_path(job_post) %>
                <button data-job-post-id="<%= job_post.id %>">Delete</button>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% @job_posts.each do |job_post| %>
  <div id="modal-<%= job_post.id %>" class="jobs-modal">
    <div class="modal-checkout jobs-modal-box">
      <span class="close-modal" data-job-post-id="<%= job_post.id %>">&times;</span>
      <img src="<%= asset_path('delete-job-icon1.svg') %>" alt="Delete Job Icon" class="delete-job-icon">
      <img src="<%= asset_path('delete-job-icon.svg') %>" alt="Delete Job Icon" class="delete-job-icon-style">
      <br>
      <h2 class="delete-job-warning"> Delete Job? </h2>
      <p class="delete-job-warning-msg"> Are you sure you want to delete this job? </p>

      <%= form_with url: admin_job_post_path(job_post), method: :delete, local: true, html: { id: "delete-job-form-#{job_post.id}" } do |form| %>
        <div class="applicants-button-container">
            <%= form.submit 'Yes, Delete', class: "delete-job-confirmation-btn" %>
            <button type="button" class="delete-job-cancel-btn" data-job-post-id="<%= job_post.id %>"> Cancel </button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<script>
  document.addEventListener('turbo:load', function() {
    // Function to close all dropdown menus
    function closeAllDropdowns() {
      document.querySelectorAll('.dropdown-menu').forEach(function(menu) {
        menu.style.display = 'none';
      });
    }

    // Dropdown menu handling
    document.querySelectorAll('.dropdown-toggle').forEach(function(toggle) {
      toggle.addEventListener('mouseenter', function() {
        this.nextElementSibling.style.display = 'block';
      });

      toggle.addEventListener('mouseleave', function() {
        this.nextElementSibling.style.display = 'none';
      });
    });

    document.querySelectorAll('.dropdown-menu').forEach(function(menu) {
      menu.addEventListener('mouseenter', function() {
        this.style.display = 'block';
      });

      menu.addEventListener('mouseleave', function() {
        this.style.display = 'none';
      });
    });

    // Event delegation for modal buttons
    document.getElementById('job-posts-table-body').addEventListener('click', function(event) {
      // Check if the clicked element is a button with data-job-post-id
      if (event.target.tagName.toLowerCase() === 'button' && event.target.hasAttribute('data-job-post-id')) {
        var jobPostId = event.target.getAttribute('data-job-post-id');
        var modal = document.getElementById('modal-' + jobPostId);
        modal.style.display = 'block';
      }
    });

    // Event delegation for closing modals
    document.querySelectorAll('.close-modal, .delete-job-cancel-btn').forEach(function(button) {
      button.addEventListener('click', function(event) {
        var jobPostId = event.target.getAttribute('data-job-post-id');
        var modal = document.getElementById('modal-' + jobPostId);
        modal.style.display = 'none';
      });
    });

    // Close modal when clicking outside of it
    window.onclick = function(event) {
      if (event.target.classList.contains('modal')) {
        event.target.style.display = 'none';
      }
    };

    // Close all dropdowns when navigating
    document.addEventListener('turbo:visit', function() {
      closeAllDropdowns();
    });
  });
</script>
