<style>
  .modal-ip {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 47%;
    border-radius: 10px;
    height: 37%;
    margin-top: 100px;
  }
  .input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group input {
  width: 45%;
    padding: 10px;
    margin-right: 10px;

}

.input-group button {
  padding: 10px;
    cursor: pointer;
}


.submit-btn {
  background-color: #FFA500; /* Orange */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 99%;
    border-radius: 6px;
}

.submit-btn:hover {
  background-color: #FFA500; /* Orange */
}
</style>
<div id="myModalEdit<%= ip.id %>" class="modal" style="display: none;">
  <div class="modal-ip">
    <div class="modal-header">
      <span class="report-close-modal" onclick="document.getElementById('myModalEdit<%= ip.id %>').style.display='none'">&times;</span>
    </div>
      <h3 style="margin-left: 1%; margin-top: 1%; color: black; float: left;">Edit IP Address</h3><br><br><br>
    <%= form_with model: ip, url: admin_ip_management_path(ip), method: :put, remote: true, id: "edit_ip_form_#{ip.id}" do |f| %>
      <div class="input-group">
        <%= f.text_field :user_name, value: ip.user_name, class: "text-field", placeholder: "Name", maxlength: 22, required: true %>
        <%= f.text_field :ip_address, value: ip.ip_address, class: "text-field", placeholder: "IP Address", maxlength: 15, required: true %>
      </div>
      <%= f.submit "Update", class: "submit-btn" %>
    <% end %>
  </div>
</div>
