<% content_for :link_button do %>
  <div style="margin-left: 20%; position: absolute;">
    <h3 style="display: inline-block; margin-right: 20px;"><%= @user.name %>'s Reports</h3>
    <%= form_tag admin_daily_report_path(@user.id), method: :get, id: "filterForm", style: "display: inline-block; margin-bottom: 0;" do %>
      <%= select_tag 'month', options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |month, index| [month, index + 1] }, params[:month].presence || Date.current.month), id: 'month', class: 'form-control select-month', style: "margin-right: 10px;" %>
      <%= select_tag 'year', options_for_select((Date.current.year..Date.current.year + 5).to_a, params[:year].presence || Date.current.year), id: 'year', class: 'form-control select-year', style: "margin-right: 10px;" %>
    <% end %>
  </div>
<% end %>
<div class="reportTable">
  <table style="width: 100%;">
    <thead>
      <tr>
        <th>Date</th>
          <tr><td colspan="1" style="border-bottom: 1px solid black;"></td></tr>
      </tr>
    </thead>
    <tbody>
     <% if @sessions.present? %>
        <% @sessions.each do |session|%>
          <tr>
            <td class="clickable-cell" data-user-path="<%= report_admin_daily_reports_path(session.id) %>">
              <div style="cursor: pointer;"><%= session.created_at.strftime("%d %B, %Y") %></div>
            </td>
          </tr>
          <tr><td colspan="1" style="border-bottom: 1px solid black;"></td></tr>
        <% end %>
     <% else %>
      <tr><td colspan="1" style="text-align: center;">No Daily Reports Present</td></tr>
     <% end %>
  </table>
     <div class="pagination-container">
      <%= will_paginate @sessions, renderer: PaginationHelper::DailyReportsRenderer, remote: true %>  
     </div>
    </tbody>
</div>