<div class="header">
  <div class="spacer"></div> <!-- Spacer to push buttons to the right -->
  <%= yield(:user_name) %>
  <%= yield(:link_button) %>

  
    <div class="action-header-position">
      <div class="action-header-text">
        <%= get_action_header_text %>
      </div>
      <div class="create-job-btn">
        <% if current_page?(admin_job_posts_path) %>
          <%= button_to "+ Create job", new_admin_job_post_path, method: :get, class: "create-job-btn-text" %>
        <% end %>
      </div>
    </div>
  

  <div class="profile">
    <span class="initial"><%= current_user.name.split.first[0] + current_user.name.split.last[0] %></span>
    <div class="dropdown-content">
      <%= button_to "Profile", admin_user_profile_path(current_user.id), method: :get %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>