<div class="header">
  <div class="spacer"></div> <!-- Spacer to push buttons to the right -->
  <%= yield(:link_button) %>
  <% if current_page?(admin_job_posts_path) %>
    <div class="create-job-btn">
      <%= link_to "+ Create job", new_admin_job_post_path, class: "create-job-btn-text" %>
    </div>
  <% end %>
  <div class="profile">
    <span class="initial"><%= current_user.name.split.first[0] + current_user.name.split.last[0] %></span>
    <div class="dropdown-content">
      <%= button_to "Profile", admin_user_profile_path(current_user.id), method: :get %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>