<div class="header">
  <div class="spacer"></div> <!-- Spacer to push buttons to the right -->
  <%= yield(:user_name) %>
  <%= yield(:link_button) %>

  <div class="profile">
    <span class="initial"><%= current_user.name.split.first[0] + current_user.name.split.last[0] %></span>
    <div class="dropdown-content">
      <%= button_to "Profile", admin_user_profile_path, method: :get %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>