<style>
.sidebar {
    height: 100vh;
    width: 250px;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin: 20px 0;
    text-align: center;
}

.logo img {
  width: 110px;
  height: auto;
  margin-right: 100px;
  margin-top: 35px;
}

.logo h1 {
    margin: 10px 0 0;
    font-size: 24px;
    color: #ff7f00;
}

.menu {
    width: 100%;
}

.menu a {
    text-decoration: none;
    width: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #6c757d;
    transition: background-color 0.3s, color 0.3s;
}

.menu-item:hover,
.menu-item.active {
    background-color: #fff;
    color: #ff7f00;
}

.menu-item.active {
    background-color: #ffe8d6;
}

.menu-item::before {
    content: '';
    display: inline-block;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    background-size: contain;
}

.menu-item:nth-child(1)::before {
    background-image: url('dashboard-icon.png');
}

.menu-item:nth-child(2)::before {
    background-image: url('attendance-icon.png');
}

.menu-item:nth-child(3)::before {
    background-image: url('report-icon.png');
}

.menu-item:nth-child(4)::before {
    background-image: url('leaves-icon.png');
}
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
          <%= image_tag "tecerlogo.svg" %>
        </div>
        <% if current_user.admin? %>
          <div class="menu">
              <a href="<%= root_path %>" class="active"><div class="menu-item">Users</div></a>
              <a href="<%= admin_report_path %>"><div class="menu-item">Reports</div></a>
              <a href="<%= leaves_path %>"><div class="menu-item">Leaves</div></a>
              <a href="<%= public_holidays_path %>"><div class="menu-item">Public Holidays</div></a>
          </div>
        <% else current_user.user?%>
                  <div class="menu">
              <a href="#" class="active"><div class="menu-item">Dashboard</div></a>
              <a href="#"><div class="menu-item">Daily Report</div></a>
          </div>
        <% end %>
    </div>
</body>
</html>
