<div class="main-content" style="margin-left: 260px;">
  <%= link_to "Add Holidays", new_public_holiday_path, class: "sign-out-button", id: "checkInButton", style: "float: right; margin-right: 20px; margin-bottom: 10px; margin-top: 15px;" %>
  <table>
    <thead>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @holidays.each do |item| %>
        <tr>
          <td><%= item.start_date.present? ? item.start_date : "N/A" %></td>
          <td><%= item.end_date.present? ? item.end_date : "N/A" %></td>
          <td><%= item.title.present? ? item.title : "N/A" %></td>
          <td>
            <div class="dropdown-action">
              <%= image_tag("more.png", width: "20", height: "20", alt: "Edit User") %>
              <div class="dropdown-content-action">
                <div class="actions-container">
                  <button class="modal-btn" data-target="myModalDelete<%= item.id %>">Delete</button>
                  <div id="myModalDelete<%= item.id %>" class="modal">
                    <div class="modal-content">
                      <p style="text-align: center; margin-top: 10px;">Are you sure you want to delete this Holiday?</p>
                      <div id="timerDisplayModal"></div>
                      <div class="modal-footer">
                        <%= button_to "Yes, Delete", public_holiday_path(item.id), method: :delete, class: "sign-out-button delete-btn" %>
                        <button class="closeModalBtn close sign-out-button">No</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>