<div class="header">
  <a href="#" class="logo">
    <%= image_tag "logo.svg" %>
  </a>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "sign-out-button" %>
</div>
<% if current_user.admin?%>
<br>
<%= link_to "Create Employee", new_admin_user_path, class: "sign-out-button", id: "checkInButton", style: "float: right; margin-right: 20px; margin-bottom: 8px;" %>
<%= render 'attendance/admin' %>
<% else%>
<%= render 'attendance/employee' %>
<% end %>
