<style>
.container-wrapper {
  display: flex;
  justify-content: center;
  margin-left: 300px;
}

.container3 {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  height: 352px;
  max-width: 470px;
  padding: 0 20px;
  margin: 170px auto;

}

</style>

<div class="container-wrapper">
  <div class="container3">
    <%= form_with model: current_user, url: leaves_path, method: :post do |f| %>
    <br>
      <div class="field">
          <%= f.label :start_date %>
          <%= f.date_field :start_date, min: Date.tomorrow, required: true %>
      </div>
      <br>
      <div class="field">
          <%= f.label :end_date %>
          <%= f.date_field :end_date, min: Date.tomorrow, required: true %>
     </div>
     <br>
     <div class="field">
          <%= f.label :reason %>
          <%= f.text_area :reason, class: "text-area", required: true %>
     </div>
     <br>
      <div class="actions">
        <%= f.submit "Request", class: "orange-button" %>
      </div>
    <% end %>
  </div>

  <div class="container3">
  <br>
  <table class="display">
      <thead>
        <tr>
          <th> Start Date</th>
          <th> End Date</th>
          <th> Reason</th>
          <th> Status</th>
        </tr>
      </thead>
      <tbody>
      <% @leaves.each do |item| %>
        <tr>
          <td><%= item.start_date.strftime("%A, %B %d, %Y") %></td>
          <td><%= item.end_date.strftime("%A, %B %d, %Y") %></td>
          <td><%= item.reason %></td>
          <% if item.status == "approved"%>
          <td>
            <%= button_tag "Approved", type: "button", class: "sign-out-button", disabled: true %>
          </td>
          <% elsif  item.status == "rejected"%>
          <td>
            <%= button_tag "Rejected", type: "button", class: "sign-out-button", disabled: true %>
          </td>
          <% else %>
          <td>
            <%= button_tag "Pending", type: "button", class: "sign-out-button", disabled: true %>
          </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
