<!-- app/views/job_application_mailer/interview_scheduled.html.erb -->

<p>Dear <%= @job_application.name %>,</p>

<p>Thank you for applying for the <%= @job_post.title %> position at <%= @company_name %>. We have reviewed your application and are impressed with your qualifications and experience. We would like to invite you for an interview at Techcreatix.</p>

<p>Your interview has been scheduled on <%= @interview_date %> at <%= @interview_time %> as discussed over the phone call.</p>

<p>We look forward to speaking with you soon.</p>

<p>Location:<br>
<a href="https://g.co/kgs/Kpn8MU7">https://g.co/kgs/Kpn8MU7</a></p>

<p>Best Regards,<br>
Mahnoor Masood<br>
(HR Manager)<br>
Techcreatix<br>
mahnoor@techcreatix.com</p>
