<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Check In</th>
      <th>Check Out</th>
      <th>Break In</th>
      <th>Break Out</th>
      <th>Total Hours</th>
    </tr>
  </thead>
  <tbody>
    <% if @session.present? %>
      <% @session.each do |item| %>
        <tr>
          <td><%= item.created_at.strftime("%Y-%m-%d ") %></td>
          <td><%= item.check_in_time.in_time_zone("Asia/Karachi").strftime("%I:%M %p") %></td>
          <td><%= item.check_out_time.present? ? item.check_out_time.in_time_zone("Asia/Karachi").strftime("%I:%M %p") : "N/A" %></td>
          <td><%= item.break_in_time.present? ? item.break_in_time.in_time_zone("Asia/Karachi").strftime("%I:%M %p") : "N/A" %></td>
          <td><%= item.break_out_time.present? ? item.break_out_time.in_time_zone("Asia/Karachi").strftime("%I:%M %p") : "N/A" %></td>
          <td>
            <% if item.total_hours.present? %>
              <%= "#{item.total_hours / 3600} hours #{item.total_hours % 3600 / 60} minutes" %>
            <% else %>
              N/A
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>

      </tr>
    <% end %>
  </tbody>
</table>
