<div class="content">
  <h1> Hi <%= current_user.name %> </h1>
  <div class="button-container">
  <% session = current_user.attendances.order(created_at: :asc).last%>
    <% if current_user.attendances.empty? || current_user.attendances.last.check_in_time <= 16.hours.ago || session.total_hours.present? %>
    <%= button_to "Check-In", create_session_path, class: "sign-out-button", id: "checkInButton", onclick: "setTimeout(() => this.disabled = true, 0)" %>    
  <% elsif session.present? && session.check_out_time.nil? %>
        <% create_at = session.created_at %>
        <div id="timerDisplay" data-created-at="<%= create_at || nil %>" data-system-time="<%= Time.zone.now %>"></div>

    <% end %>
  </div>
  <div style="float: right; margin-top: 20px;">
  <% if !@session.empty? %>
  <% if session.present? && session.check_out_time.nil? && !session.break_in_time.present? %>
    <%= button_to "Break-In", break_session_path, class: "sign-out-button", id: "checkInButton", onclick: "setTimeout(() => this.disabled = true, 0)" %>
  <% elsif session.check_out_time.nil? && !session.break_out_time.present? %>
    <%= button_to "Break-Out", break_session_path, class: "sign-out-button", id: "checkInButton", onclick: "setTimeout(() => this.disabled = true, 0)" %>
  <% end %>
  <% end %>
</div>
  <% if session.present? && session.check_out_time.nil? && current_user.attendances.last.check_in_time >= 16.hours.ago %>
    <div class="button-container">
      <button id="modal-btn" class="sign-out-button">Check Out</button>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <p style="text-align: center; margin-top: 10px;">Are you sure you want to checkout?</p>
          <div id="timerDisplayModal"></div>
          <div class="modal-footer">
            <button id="closeModalBtn" class="close sign-out-button">No</button>
            <%= button_to "Check-Out", end_session_path, class: "sign-out-button", id: "checkOutButtonModal", onclick: "setTimeout(() => this.disabled = true, 0)" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <br>
  <%= render 'attendance/user_attendance' %>
</div>




<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("modal-btn");

// Get the <span> element that closes the modal
// Get the button element for closing the modal
var closeModalBtn = document.getElementById("closeModalBtn");

// Add event listener to close the modal when the button is clicked
closeModalBtn.addEventListener("click", function() {
  modal.style.display = "none";
});

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

</script>
