<style>
  body {
    background-color: #f1f1f1; /* off-white background */
    margin: 0;
    padding: 0;
  }
  </style>
  <body>
<div class="content" style="margin-left: 220px;">
  <div class="card">
    <h3>Welcome</h3>
    <h1><%= current_user.name %></h1>
    <h4>Have a nice day at work</h4>
    <div class="button-container">
      <% content_for :link_button do %>
        <%= button_to "Request Leaves", new_leave_path, method: :get, class: "request-button" %>
      <% end %>
      <% session = current_user.attendances.order(created_at: :asc).last %>
      <% if current_user.attendances.empty? || current_user.attendances.last.check_in_time <= 16.hours.ago || session.total_hours.present? %>
        <% content_for :link_button do %>
          <%= button_to "Check-In", create_session_path, class: "sign-out-button check-btn", data: { disable_with: "Processing..." } %>
        <% end %>
        <div id="timerDisplay">00:00:00</div> <!-- Show 00:00:00 if no session -->
      <% elsif session.present? && session.check_out_time.nil? %>
        <% create_at = session.created_at %>
        <div id="timerDisplay" data-created-at="<%= create_at&.iso8601 || nil %>" data-system-time="<%= Time.zone.now.iso8601 %>"></div>
        <script>
          document.addEventListener("turbo:load", function() {
            var timerDisplay = document.getElementById("timerDisplay");
            if (timerDisplay) {
              var createdAt = new Date(timerDisplay.getAttribute("data-created-at"));
              var systemTime = new Date(timerDisplay.getAttribute("data-system-time"));

              function updateTimer() {
                var now = new Date();
                var elapsed = now - systemTime + (systemTime - createdAt);
                var hours = Math.floor(elapsed / (1000 * 60 * 60));
                var minutes = Math.floor((elapsed % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((elapsed % (1000 * 60)) / 1000);
                timerDisplay.innerText = `${hours}h ${minutes}m ${seconds}s`;
              }

              setInterval(updateTimer, 1000);
              updateTimer(); // Initial call to display the time immediately
            }
          });
        </script>
      <% end %>
    </div>
  </div>
</div>

  <div style="float: right; margin-top: 20px;">
    <% if session.present? %>
      <% if session.check_out_time.nil? && session.check_in_time.today? %>
      <% if session.breaks.present? %>
        <% if session.breaks.last.break_out_time.nil? %>
          <% content_for :link_button do %>
            <%= button_to "Break-Out", break_session_path, class: "sign-out-button check-btn", id: "checkOutButtonModal", data: { disable_with: "Processing..." } %>
          <% end %>
            <% else %>
          <% content_for :link_button do %>
            <%= button_to "Break-In", break_session_path, class: "sign-out-button check-btn", id: "checkOutButtonModal", data: { disable_with: "Processing..." } %>
        <% end %>
        <% end %>
      <% else %>
          <% content_for :link_button do %>
            <%= button_to "Break-In", break_session_path, class: "sign-out-button check-btn", id: "checkOutButtonModal", data: { disable_with: "Processing..." } %>
        <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if session.present? && session.check_out_time.nil? && current_user.attendances.last.check_in_time >= 16.hours.ago %>
    <% unless session.breaks.present? && session.breaks.last.break_out_time.nil? %>
      <div class="button-container">
        <% content_for :link_button do %>
          <button id="modal-btn" class="sign-out-button">Check Out</button>
        <% end %>
        <div id="myModal" class="modal">
          <div class="modal-checkout">
            <%= form_with url: end_session_path, method: :post, remote: true, id: "checkout_form" do |f| %>
              <div class="modal-header">
                <span class="close-modal icon-position" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
              </div>
              <h4>Daily Report</h4>
              <p style="text-align: center; margin-top: 10px;">
                <%= f.text_area :report, id: "report_editor", placeholder: "Enter Details", style: "width: 100%; height: 150px; resize: vertical; padding: 10px; border-radius: 8px;", required: true %>
              </p>
              <div class="modal-footer">
                <%= f.submit "Submit Report and check out", class: "check-out-btn", onclick: "this.disabled = true; this.value = 'Processing...'; this.form.submit();" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
  </body>
<script>
    document.addEventListener("turbo:load", function() {
      const buttons = document.querySelectorAll('form button.sign-out-button');
      buttons.forEach(button => {
        button.addEventListener('click', function(event) {
          event.preventDefault();
          button.disabled = true;
          button.textContent = button.getAttribute('data-disable-with');
          const form = button.closest('form');
          if (form) {
            form.submit();
          }
        });
      });
    });

  var modal = document.getElementById("myModal");
  var btn = document.getElementById("modal-btn");

  btn.onclick = function() {
    modal.style.display = "block";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }


</script>