<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Login</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>

<body class="special-background">
  <div class="container">
      <div class="wrapper">
        <div class="title"><span>Login</span></div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <% if notice %>
            <div class="alert alert-success fading-out" id="banner"><%= notice %></div>
          <% end %>
          <% if alert %>
            <div class="alert alert-danger fading-out" id="banner"><%= alert %></div>
          <% end %>
          <div class="row">
            <i class="fas fa-user"></i>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", required: true %>
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", required: true %>
          </div>
              <%= f.submit "Log in", class: "sign-in-button" %>
            <div class="doEnd">
              <%= link_to "Forgot Your Password", new_user_password_path(resource_name), :class => "btn btn-link" %>
            </div>
          <% end %>
      </div>
    </div>

  </body>
</html>