<div class="main-content" style="margin-left: 260px;">
  <table class="dashboard-table-container">
    <thead>
      <tr class="dashboard-table-lines">
        <th>Name</th>
        <th>Email</th>
        <th>Experience</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @job_applications.each do |application| %>
        <tr class="dashboard-table-lines">
          <td class="table-first-column"><%= application&.name %></td>
          <td class="table-first-column"><%= application&.email %></td>
          <td class="table-first-column"><%= application&.current_experience %></td>
          <td class="table-second-column">
            <span><%= "Pending" %></span>
          </td>
          <td><%= "--" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
