<% content_for :link_button do %>
  <div class="action-header-position">
    <div class="action-header-text">
      Applicant's Details
    </div>
  </div>
<% end %>

<div style="margin-left: 260px;">
  <div class="dashboard-table-container">
    <div class="interview-btns-container">
     <%= link_to download_resume_admin_job_application_path(@job_application), class: "download-resume-btn", id: "download-resume-btn", target: "_blank" do %>
      <div class="download-resume-btn-text">View Resume</div>
     <% end %>
     <% if @job_application.pending? %>
      <%= link_to new_admin_interview_path(job_application_id: @job_application.id), class: "download-resume-btn shedule-interview-btn", id: "shedule-interview-btn" do %>
        <div class="shedule-interview-btn-text">Schedule Interview</div>
      <% end %>
     <% else %>
     <%= link_to generate_public_link_admin_interview_path(@job_application.interviews.first), class: "download-resume-btn shedule-interview-btn", id: "shedule-interview-btn" do %>
        <div class="shedule-interview-btn-text">Get Shareable Link</div>
      <% end %>
     <% end %>
    </div>

    <div class="applicants-container">
      <div class="applicants-column">
        <span class="applicants-label"> Name <span>
        <div class="applicants-rectangle-fields">
          <span class="applicants-rectangle-fields-text"><%= @job_application.name %></span>
        </div>

        <span class="applicants-label"> Qualification <span>
        <div class="applicants-rectangle-fields">
          <span class="applicants-rectangle-fields-text"><%= @job_application.qualification %></span>
        </div>
        
        <span class="applicants-label"> Expected Salary <span>
        <div class="applicants-rectangle-fields">
          <span class="applicants-rectangle-fields-text"><%= @job_application.expected_salary %></span>
        </div>
      </div>

      <div class="applicants-column">
        <span class="applicants-label"> E-mail <span>
        <div class="applicants-rectangle-fields">
          <span class="applicants-rectangle-fields-text"><%= @job_application.email %></span>
        </div>

        <span class="applicants-label"> CNIC <span>
        <div class="applicants-rectangle-fields">
          <span class="applicants-rectangle-fields-text"><%= @job_application.cnic %></span>
        </div>

        <span class="applicants-label"> Current Salary <span>
        <div class="applicants-rectangle-fields">
          <span class="applicants-rectangle-fields-text"><%= @job_application.current_salary %></span>
        </div>
      </div>

      <div class="applicants-column">
        <span class="applicants-label"> Experience <span>
        <div class="applicants-rectangle-fields">
          <span class="applicants-rectangle-fields-text"><%= @job_application.current_experience %></span>
        </div>

        <span class="applicants-label"> Contact Number <span>
        <div class="applicants-rectangle-fields">
          <span class="applicants-rectangle-fields-text"><%= @job_application.contact_number %></span>
        </div>
      </div>
    </div>
  </div>
<div>
