<div class="form-container">
  <h1> Enter Personal Information </h1>
  <br>
  <%= form_with model: @user, url: complete_profile_admin_user_path(@user), method: :post do |f| %>
    <div>
        <%= f.label :address, "Address", class: "label" %>
        <%= f.text_field :address, required: true, class: "text-field" %>
    </div>

    <div>
        <%= f.label :phone_number, "Phone Number", class: "label" %>
        <%= f.telephone_field :phone_number, required: true, class: "text-field" %>
    </div>

    <div>
        <%= f.label :emergency_phone_number, "Emergency Phone Number", class: "label" %>
        <%= f.telephone_field :emergency_phone_number, required: true, class: "text-field" %>
    </div>

    <div>
        <%= f.label :cnic, "CNIC (National Identity Card Number)", class: "label" %>
        <%= f.text_field :cnic, required: true, class: "text-field" %>
    </div>

    <div>
        <%= f.label :date_of_birth, "Date of Birth", class: "label" %>
        <%= f.date_field :date_of_birth, required: true, class: "text-field" %>
    </div>

    <div>
        <%= f.label :password, "Password", class: "label" %>
        <%= f.password_field :password, placeholder: "Enter password (only letters and digits, no special characters)", required: true, class: "text-field" %>
    </div>

    <div>
        <%= f.label :confirm_password, "Password Confirmation", class: "label" %>
        <%= f.password_field :confirm_password, placeholder: "Enter password (only letters and digits, no special characters)", required: true, class: "text-field" %>
    </div>

    <div>
        <%= f.submit "Next", class: "submit-button"  %>
    </div>
  <% end %>
</div>