<!DOCTYPE html>
<html>
<head>
  <title>Attendance Details</title>
  <style>
    .attendance-table {
      border-collapse: collapse;
      width: 100%;
    }

    .attendance-table th,
    .attendance-table td {
      padding: 10px;
      border: 1px solid #ddd;
      text-align: left;
    }

    .attendance-table th {
      background-color: #87ceeb;
      font-weight: bold;
    }

    .attendance-heading {
      background-color: #87ceeb;
      color: white;
      padding: 10px;
    }

    .absent-day {
      color: red;
      font-weight: bold;
    }
  </style>
</head>
<body>

<h1 class="attendance-heading">Monthly Timesheet</h1>
<p style="float: left; margin: 5px;">Employee: <strong><%= @user.name %></strong></p>
<p style="float: right; margin: 5px; margin-right: 10px;">Month:  <strong><%= @user_sessions.first.created_at.strftime("%b") %></strong></p>
  <br>
  <br>
  <p style="float: left; margin: 5px;">Supervisor:</p>
  <span style="float: left; margin: 5px;"><strong><%= @user.supervisor.present? ? @user.supervisor : "Fahad" %></strong></span>
  <span style="float: right; margin: 5px;"></span>
<div style="display: flex; justify-content: space-between; align-items: center; margin: 5px;">
  <p style="float: right; margin: 0; margin-right: 10px;">Regular Hours:8</p>
</div>
  <br>
  <br>
<table class="attendance-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Check In</th>
      <th>Check Out</th>
      <th>Leaves</th>
      <th>Total Hours</th>
    </tr>
  </thead>
  <tbody>
    <% @user_leaves_count =  @current_user_leaves = Leave.where("start_date <= ? AND end_date >= ? AND status = ? AND user_id = ?", @end_date, @start_date, 1, @user.id).sum { |leave| (leave.end_date - leave.start_date).to_i + 1 }%>
    <% if @user_sessions.present? %>
      <% @user_sessions.each do |item| %>
        <tr>
          <td><%= item.created_at.strftime("%A %b #{item.created_at.day.ordinalize}") %></td>
          <td><%= item.check_in_time.in_time_zone("Asia/Karachi").strftime("%I:%M %p") %></td>
          <td><%= item.check_out_time.present? ? item.check_out_time.in_time_zone("Asia/Karachi").strftime("%I:%M %p") : "N/A" %></td>
          <td></td>
          <td>
            <% if item.total_hours.present? %>
              <%= "#{item.total_hours / 3600} hours #{item.total_hours % 3600 / 60} minutes" %>
            <% else %>
              N/A
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td><strong>Total</strong></td>
      <td></td>
      <td></td>
      <td><%= @user_leaves_count %></td>
      <td><strong><%= "#{@total_hours / 3600 || 0} hours #{@total_hours % 3600 / 60 || 0} minutes" %></strong></td>
    </tr>
  </tbody>
</table>
</body>
</html>