<div class="main-content" style="margin-left: 260px;">
<%= link_to "Create Employee", new_admin_user_path, class: "sign-out-button", id: "checkInButton", style: "float: right; margin-right: 20px; margin-bottom: 10px; margin-top: 15px;" %>
<div id="loader" class="loader" style="display: none;">
  <div class="spinner"></div>
</div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th class="table-ip-column">
      <label class="switch">
        <input type="checkbox" id="toggle-all" class="toggle-switch-all" <%= @all_users_same_status ? 'checked' : '' %>>
        <span class="slider round"></span>
      </label>
        <span id="toggle-status"></span>
      </th>
      <th>Attendance</th>
      <th></th>
      <tr><td colspan="7" style="border-bottom: 1px solid black;"></td></tr>
    </tr>
  </thead>
  <tbody>
  
    <% @session.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.email %></td>
      <td class="table-ip-column">
        <label class="switch">
          <input type="checkbox" class="toggle-switch" data-id="<%= item.id %>"<%= item.can_outside_access ? "checked" : "" %>>
          <span class="slider round"></span>
        </label>
      </td>
      <td>
        <%= link_to "View", admin_user_detail_path(id: item.id, month: Date.current.month, year: Date.current.year), class: "sign-out-button"%>
      </td>
      <td>
      <div class="dropdown-action">
      <%= image_tag("more.png", width: "20", height: "20", alt: "Edit User")%>
  <div class="dropdown-content-action">
<div class="actions-container">
  <button class="modal-btn" onclick="window.location.href='<%= edit_admin_user_path(item.id) %>'">Edit</button>

  <button class="modal-btn" data-target="myModalDelete<%= item.id %>"> Delete</button>
<div id="myModalDelete<%= item.id %>" class="modal">
    <div class="modal-content">
        <p style="text-align: center; margin-top: 10px;">Are you sure you want to Delete this User?</p>
        <div id="timerDisplayModal"></div>
        <div class="modal-footer">
            <%= button_to "Yes, Delete", admin_user_path(item.id), method: :delete, class: "sign-out-button delete-btn" %>
            <button class="closeModalBtn close sign-out-button">No</button>
        </div>
    </div>
</div>

<button class="modal-btn" data-target="myModalDisable<%= item.id %>"><%= item.status == "active" ? "Disable" : "Un-disable"%>
</button>

<div id="myModalDisable<%= item.id %>" class="modal">
    <div class="modal-content">
        <p style="text-align: center; margin-top: 10px;">Are you sure you want to <%= item.status == "active" ? "Disable" : "Enable" %> this User?</p>
        <div id="timerDisplayModal"></div>
        <div class="modal-footer">
            <%= button_to(item.status == "active" ? "Yes, Disable" : "Yes, Enable", admin_disable_user_path(id: item.id), method: :put, class: "sign-out-button delete-btn") %>
            <button class="closeModalBtn close sign-out-button">No</button>
        </div>
    </div>
</div>
  </div>
</div>
</div>

</td>
    </tr>
          <tr><td colspan="7" style="border-bottom: 1px solid black;"></td></tr>
    <% end %>

  </tbody>
</table>
<%= will_paginate @session, renderer: WillPaginate::ActionView::LinkRenderer, class: 'pagination' %>
</div>
<script>
document.addEventListener("DOMContentLoaded", function () {
  const toggleAllSwitch = document.querySelector("#toggle-all");
  const loader = document.getElementById("loader");
  const toggleStatus = document.getElementById("toggle-status");
  toggleAllSwitch.addEventListener("change", function () {
    const newStatus = this.checked;
    loader.style.display = "flex";
    document.body.style.pointerEvents = "none";
    fetch("/admin/users/update_all_ip_restrictions", {
      method: "PATCH",
      headers: {
        "Content-Type": "application/json",
        "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").getAttribute("content"),
      },
      body: JSON.stringify({ can_outside_access: newStatus }),
    })
      .then((response) => {
        if (response.ok) {
          return response.json();
        } else {
          throw new Error("Network response was not ok.");
        }
      })
      .then((data) => {
        if (data.success) {
          document.querySelectorAll(".toggle-switch").forEach(function (switchElement) {
            switchElement.checked = newStatus;
          });
        } else {
          console.error("Failed to update IP restrictions.");
        }
      })
      .catch((error) => {
        console.error("There was a problem with the fetch operation:", error);
      })
      .finally(() => {
        loader.style.display = "none";
        document.body.style.pointerEvents = "auto";
      });
  });

  document.querySelectorAll(".toggle-switch").forEach(function (switchElement) {
    switchElement.addEventListener("change", function () {
      const userId = this.dataset.id;
      const newStatus = this.checked;
      loader.style.display = "flex";
      document.body.style.pointerEvents = "none";

      fetch(`/admin/users/${userId}/update_ip_restriction`, {
        method: "PATCH",
        headers: {
          "Content-Type": "application/json",
          "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").getAttribute("content"),
        },
        body: JSON.stringify({ can_outside_access: newStatus }),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
          } else {
            console.error("Failed to update individual IP restriction.");
          }
        })
        .finally(() => {
          loader.style.display = "none";
          document.body.style.pointerEvents = "auto";
        });
        });
    });
  });

</script>