<style>
  .attendance-table {
    border-collapse: collapse;
    width: 100%;
  }

  .attendance-table th, .attendance-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  .attendance-table th {
    background-color: #87CEEB;
    font-weight: bold;
  }

  .attendance-heading {
    background-color: #87CEEB;
    color: white;
    padding: 10px;
  }

  .timesheet-container {
    width: 130%;
    margin: 5px 0;
  }

  .timesheet-details {
    display: flex;
    width: 990px;
  }

  .left-section, .right-section {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .left-section p, .right-section p {
    margin: 5px 0;
  }

  .left-section {
    text-align: left;
  }

  .right-section {
    text-align: right;
  }

  .absent-day {
    color: red;
    font-weight: bold;
  }

  .page-break {
    page-break-before: always;
  }

  @media print {
    .user-attendance, .user-data {
      page-break-after: always;
    }
  }
</style>

<h1 class="attendance-heading">Monthly Report</h1>
<p style="float: right; margin: 5px;">Month: <strong><%= Date::MONTHNAMES[@month] %></strong> <span><strong><%= @year %></strong></span>
</p>
<table class="attendance-table user-data">
  <thead>
    <tr>
      <th>Name</th>
      <% @selected_columns.each do |column| %>
        <th><%= column.humanize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% total_expected_hours = 0
      total_regular_hours = 0
      total_worked_hours = 0
      total_overtime_hours = 0
      total_undertime_hours = 0
      total_leaves = 0
      total_absentees = 0
    %>
    <% @users.each do |user| %>
      <%
        user_creation_date = user.created_at.to_date
        first_day_of_month = Date.new(@year, @month, 1)
        last_day_of_month = (@month == Date.today.month && @year == Date.today.year) ? Date.today : @end_date
        adjusted_start_date = user_creation_date.month == @month && user_creation_date.year == @year ? user_creation_date : first_day_of_month
        total_days_range = (adjusted_start_date..last_day_of_month).to_a
        @total_days = total_days_range.reject { |date| date.saturday? || date.sunday? }.count
        if @public_holidays.present?
          @public_holidays.each do |holiday|
            if holiday.start_date >= user_creation_date
              @total_days -= (holiday.start_date..holiday.end_date).count
            end
          end
        end
        @current_user_leaves = Leave.where("start_date <= ? AND end_date >= ? AND status = ? AND user_id = ?", @end_date, @start_date, 1, user.id).sum { |leave| (leave.end_date - leave.start_date).to_i + 1 }
        @attendance_data = user.attendances.where(check_in_time: @start_date.beginning_of_day..@end_date.end_of_day)
        @attendance_days = @attendance_data.count
        @public_holidays_count = @public_holidays.count
        reg_hours = user.leaves.present? ? (@total_working_hours - @current_user_leaves * 8) : @total_working_hours
        reg_seconds = reg_hours * 3600
        total_seconds = @total_hours[user.id] || 0
        working_hours = total_seconds / 3600
        working_minutes = (total_seconds % 3600) / 60
        overtime_hours = 0
        overtime_minutes = 0
        undertime_hours = 0
        undertime_minutes = 0        
        if total_seconds > reg_seconds
          remaining_overtime_seconds = total_seconds - reg_seconds          
          overtime_hours = remaining_overtime_seconds / 3600
          overtime_minutes = (remaining_overtime_seconds % 3600) / 60
        else
          overtime_hours = 0
          overtime_minutes = 0
        end        
        if total_seconds < reg_seconds
          remaining_seconds = reg_seconds - total_seconds          
          undertime_hours = remaining_seconds / 3600
          undertime_minutes = (remaining_seconds % 3600) / 60
        else
          undertime_hours = 0
          undertime_minutes = 0
        end
        overtime_minutes ||= 0
        undertime_minutes ||= 0
        formatted_working_time = "%02d:%02d" % [working_hours, working_minutes]
        formatted_overtime = "%02d:%02d" % [overtime_hours, overtime_minutes]
        formatted_undertime = "%02d:%02d" % [undertime_hours, undertime_minutes] 
        absentee_days = [@total_days - (@attendance_days + @current_user_leaves), 0].max

        total_expected_hours += @total_working_hours
        total_regular_hours += reg_hours
        total_worked_hours += total_seconds / 3600.0
        total_overtime_hours += overtime_hours + overtime_minutes / 60.0
        total_undertime_hours += undertime_hours + undertime_minutes / 60.0
        total_leaves += @current_user_leaves
        total_absentees += absentee_days
      %>
      <tr>
        <td><%= user.name %></td>
        <% @selected_columns.each do |column| %>
          <td>
            <% case column %>
            <% when 'expected_hours' %>
              <%= @total_working_hours %>
            <% when 'regular_hours' %>
              <%= reg_hours %>
            <% when 'worked_hours' %>
            <%= formatted_working_time %>
            <% when 'over_time' %>
              <%= formatted_overtime %>
            <% when 'under_time' %>
              <%= formatted_undertime %>
            <% when 'leaves' %>
              <%= @current_user_leaves %>
            <% when 'absentees' %>
              <%= absentee_days %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td><strong>Total</strong></td>
      <% @selected_columns.each do |column| %>
        <td>
          <% case column %>
          <% when 'expected_hours' %>
          <strong><%= total_expected_hours %></strong>
          <% when 'regular_hours' %>
            <strong><%= total_regular_hours %></strong>
          <% when 'worked_hours' %>
            <strong><%= "%02d:%02d" % [total_worked_hours.floor, (total_worked_hours % 1 * 60).round] %></strong>
          <% when 'over_time' %>
            <strong><%= "%02d:%02d" % [total_overtime_hours.floor, (total_overtime_hours % 1 * 60).round] %></strong>
          <% when 'under_time' %>
            <strong><%= "%02d:%02d" % [total_undertime_hours.floor, (total_undertime_hours % 1 * 60).round] %></strong>
          <% when 'leaves' %>
            <strong><%= total_leaves %></strong>
          <% when 'absentees' %>
            <strong><%= total_absentees %></strong>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
<div class="page-break"></div>
<% @users.each do |user| %>
  <% @current_user_leaves = Leave.where("start_date <= ? AND end_date >= ? AND status = ? AND user_id = ?", @end_date, @start_date, 1, user.id).sum { |leave| (leave.end_date - leave.start_date).to_i + 1 } %>
  <div class="timesheet-container">
    <h1 class="attendance-heading">Timesheet</h1>
    <div class="timesheet-details">
      <div class="left-section">
        <p>Employee: <strong><%= user.name %></strong></p>
        <p>Supervisor: <strong><%= user.supervisor.present? ? user.supervisor : "Fahad" %></strong></p>
      </div>
      <div class="right-section">
        <p>Month: <strong><%= Date::MONTHNAMES[@month] %> <span><%= @year %></span></strong></p>
        <p>Regular Hours: 8</p>
      </div>
    </div>
  </div>


  <br><br>
<% total_on_call_hours = Hash.new(0) %>
<% total_regular_hours = 0 %>
<% total_overtime_hours = 0 %>
  <table class="attendance-table user-attendance">
    <thead>
      <tr>
        <th>Date</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Regular Hours</th>
        <th>Overtime</th>
        <th>Leaves</th>
        <th>On Call</th>
        <th>Total Hours</th>
      </tr>
    </thead>
    <tbody>
      <% @user_sessions = user.attendances.where(check_in_time: @start_date.beginning_of_day..@end_date.end_of_day).order(created_at: :asc) %>
      <% @user_leaves = Leave.where('(start_date <= ? AND end_date >= ?) OR (start_date >= ? AND start_date <= ?)', @end_date, @start_date, @start_date, @end_date).where(status: 1, user_id: user.id) %>
      <% public_holidays = {} %>
      <% leaves = {} %>
      <% on_calls = {} %>
      <% @user_on_calls = Oncall.where('(start_date <= ? AND end_date >= ?) OR (start_date >= ? AND start_date <= ?)', @end_date, @start_date, @start_date, @end_date).where(request_status: 1, user_id: user.id) %>
      <% @public_holidays.each do |holiday| %>
        <% (holiday.start_date..holiday.end_date).each do |date| %>
          <% public_holidays[date] = holiday.title %>
        <% end %>
      <% end %>
      <% @user_leaves.each do |leave| %>
        <% (leave.start_date..leave.end_date).each do |date| %>
          <% leaves[date] = leave %>
        <% end %>
      <% end %>
      <% @user_on_calls.each do |on_call| %> 
        <% (on_call.start_date..on_call.end_date).each do |date| %>
          <% on_calls[date] = on_call.request_status == 1 %>
        <% end %>
      <% end %>
      <% (@start_date..@end_date).each do |date| %>
        <% is_weekend = date.saturday? || date.sunday? %>
        <tr>
          <% session = @user_sessions.find { |s| s.check_in_time.to_date == date } %>
          <% if !is_weekend %>
            <td><%= date.strftime("%A %b #{date.day.ordinalize}") %></td>
          <% end %>
          <% if on_calls[date] %>
          <% if is_weekend %>
            <td><%= date.strftime("%A %b #{date.day.ordinalize}") %></td>
          <% end %>
            <td><%= session ? session.check_in_time.in_time_zone("Asia/Karachi").strftime("%I:%M %p") : "N/A" %></td>
            <td><%= session && session.check_out_time ? session.check_out_time.in_time_zone("Asia/Karachi").strftime("%I:%M %p") : "N/A" %></td>
          <td>
            <% if session && session.total_hours.present? %>
              <% total_hours = session.total_hours %>
              <% if total_hours > 28800 %> 
                <% regular_hours = 28800 %>
              <% else %>
                <% regular_hours = total_hours %>
              <% end %>
              <% total_regular_hours += regular_hours %>
              <%= "#{regular_hours / 3600} hours #{regular_hours % 3600 / 60} minutes" %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td>
            <% if session && session.total_hours.present? %>
              <% total_hours = session.total_hours %>
              <% if total_hours > 28800 %>
                <% overtime_hours = total_hours - 28800 %>
              <% else %>
                <% overtime_hours = 0 %>
              <% end %>
              <% total_overtime_hours += overtime_hours %>
              <%= "#{overtime_hours / 3600} hours #{overtime_hours % 3600 / 60} minutes" %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td></td>
          <td>
            <% if session && session.total_hours.present? %>
              <% total_on_call_hours[date] += session.total_hours %>
              <%= "#{session.total_hours / 3600} hours #{session.total_hours % 3600 / 60} minutes" %>
            <% else %>
              <strong>On Call</strong>
            <% end %>
          </td>
          <td>
            <% if session && session.total_hours.present? %>
              <%= "#{session.total_hours / 3600} hours #{session.total_hours % 3600 / 60} minutes" %>
            <% else %>
              N/A
            <% end %>
          </td>
        <% elsif public_holidays.key?(date) %>
          <td style="text-align: center;" colspan="7"><strong><%= public_holidays[date] %></strong></td>
          <% elsif leaves.key?(date) %>
            <td style="text-align: center;" colspan="7"><strong><%= leaves[date]&.emergency ? "Emergency Leave" : "On Leave" %></strong></td>
          <% elsif session %>
              <td><%= session.check_in_time.in_time_zone("Asia/Karachi").strftime("%I:%M %p") %></td>
              <td><%= session.check_out_time.present? ? session.check_out_time.in_time_zone("Asia/Karachi").strftime("%I:%M %p") : "N/A" %></td>
              <td>
                <% if session.total_hours.present? %>
                  <% total_hours = session.total_hours %>
                  <% if total_hours > 28800 %>
                    <% regular_hours = 28800 %>
                  <% else %>
                    <% regular_hours = total_hours %>
                  <% end %>
                  <% total_regular_hours += regular_hours %>
                  <%= "#{regular_hours / 3600} hours #{regular_hours % 3600 / 60} minutes" %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td>
                <% if session.total_hours.present? %>
                  <% total_hours = session.total_hours %>
                  <% if total_hours > 28800 %>
                    <% overtime_hours = total_hours - 28800 %>
                  <% else %>
                    <% overtime_hours = 0 %>
                  <% end %>
                  <% total_overtime_hours += overtime_hours %>
                  <%= "#{overtime_hours / 3600} hours #{overtime_hours % 3600 / 60} minutes" %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td></td>
              <td></td>
              <td>
                <% if session.total_hours.present? %>
                  <%= "#{session.total_hours / 3600} hours #{session.total_hours % 3600 / 60} minutes" %>
                <% else %>
                  N/A
                <% end %>
              </td>
            <% else %>
            <% next if is_weekend %>
            <td style="text-align: center;" colspan="7">No Session</td>
            <% end %>
        </tr>
      <% end %>
      <tr>
        <td><strong>Total</strong></td>
        <td></td>
        <td></td>
        <td><strong><%= "#{total_regular_hours / 3600} hours #{total_regular_hours % 3600 / 60} minutes" %></strong></td>
        <td><strong><%= "#{total_overtime_hours / 3600} hours #{total_overtime_hours % 3600 / 60} minutes" %></strong></td>
        <td><%= @current_user_leaves %></td>
        <td>
          <% total_on_call_time = total_on_call_hours.values.sum %>
          <strong><%= "#{total_on_call_time / 3600} hours #{total_on_call_time % 3600 / 60} minutes" %></strong>
        </td>
        <td><strong><%= "#{@total_hours[user.id] / 3600 || 0} hours #{@total_hours[user.id] % 3600 / 60 || 0} minutes" %></strong></td>
      </tr>
    </tbody>
  </table>
  <% if user != @users.last %>
    <div class="page-break"></div>
  <% end %>
<% end %>
