<style>
  .attendance-table {
    border-collapse: collapse;
    width: 100%;
  }

  .attendance-table th, .attendance-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  .attendance-table th {
    background-color: #87CEEB;
    font-weight: bold;
  }

  .attendance-heading {
    background-color: #87CEEB;
    color: white;
    padding: 10px;
  }

  .timesheet-container {
    width: 1000px;
    margin: 5px 0;
  }

  .timesheet-details {
    width: 990px;
  }

  .left-section, .right-section {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .left-section p, .right-section p {
    margin: 5px 0;
  }

  .left-section {
    text-align: left;
  }

  .right-section {
    text-align: right;
  }

  .absent-day {
    color: red;
    font-weight: bold;
  }

  .page-break {
    page-break-before: always;
  }

  @media print {
    .user-attendance, .user-data {
      page-break-after: always;
    }
  }
</style>

<h1 class="attendance-heading">Monthly Report</h1>
<p style="float: right; margin: 5px;">Month: <strong><%= Date::MONTHNAMES[@month] %></strong></p>
<table class="attendance-table user-data">
  <thead>
    <tr>
      <th>Name</th>
      <th>Regular Hours</th>
      <th>Worked Hours</th>
      <th>Over Time</th>
      <th>Under Time</th>
      <th>Leaves</th>
      <th>Absentees</th>
    </tr>
  </thead>
  <tbody>
    <%
      adjusted_end_date = (@month == Date.today.month && @year == Date.today.year) ? Date.today : @end_date
      total_days_range = (@start_date..adjusted_end_date).to_a
      @total_days = total_days_range.reject { |date| date.saturday? || date.sunday? }.count
    %>
    <% @users.each do |user| %>
    <tr>
      <%
        @current_user_leaves = Leave.where("start_date <= ? AND end_date >= ? AND status = ? AND user_id = ?", @end_date, @start_date, 1, user.id).sum { |leave| (leave.end_date - leave.start_date).to_i + 1 }
        @attendance_data = user.attendances.where(check_in_time: @start_date.beginning_of_day..@end_date.end_of_day)
        @attendance_days = @attendance_data.count
        @public_holidays_count = @public_holidays.count
        @absentee_days = [@total_days - (@attendance_days + @current_user_leaves + @public_holidays_count), 0].max
      %>
      <td><%= user.name %></td>
      <% if user.leaves.present? %>
      <% @working_hours = @total_working_hours - @current_user_leaves * 8 %>
      <% else %>
      <% @working_hours = @total_working_hours %>
      <% end %>
      <td><%= @working_hours %></td>
      <td><%= "#{@total_hours[user.id] / 3600}" %></td>
      <% if @working_hours < @total_hours[user.id] / 3600 %>
        <td><%= (@total_hours[user.id] / 3600) - @working_hours %></td>
      <% else %>
        <td><%= 0 %></td>
      <% end %>
      <% if @working_hours > @total_hours[user.id] / 3600 %>
        <td><%= @working_hours - (@total_hours[user.id] / 3600) %></td>
      <% else %>
        <td><%= 0 %></td>
      <% end %>
      <td><%= @current_user_leaves %></td>
      <td><%= @absentee_days %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="page-break"></div>
<% @users.each do |user| %>
  <% @current_user_leaves = Leave.where("start_date <= ? AND end_date >= ? AND status = ? AND user_id = ?", @end_date, @start_date, 1, user.id).sum { |leave| (leave.end_date - leave.start_date).to_i + 1 } %>
  <div class="timesheet-container">
    <h1 class="attendance-heading">Timesheet</h1>
    <div class="timesheet-details">
      <div class="left-section">
        <p>Employee: <strong><%= user.name %></strong></p>
        <p>Supervisor: <strong><%= user.supervisor.present? ? user.supervisor : "Fahad" %></strong></p>
      </div>
      <div class="right-section">
        <p>Month: <strong><%= Date::MONTHNAMES[@month] %></strong></p>
        <p>Regular Hours: 8</p>
      </div>
    </div>
  </div>


  <br><br>
  <table class="attendance-table user-attendance">
    <thead>
      <tr>
        <th>Date</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Regular Hours</th>
        <th>Overtime</th>
        <th>Leaves</th>
        <th>Total Hours</th>
      </tr>
    </thead>
    <tbody>
      <% @user_sessions = user.attendances.where(check_in_time: @start_date.beginning_of_day..@end_date.end_of_day).order(created_at: :asc) %>
      <% @user_leaves = Leave.where('(start_date <= ? AND end_date >= ?) OR (start_date >= ? AND start_date <= ?)', @end_date, @start_date, @start_date, @end_date).where(status: 1, user_id: user.id) %>
      <% public_holidays = {} %>
      <% leaves = {} %>
      <% @public_holidays.each do |holiday| %>
        <% (holiday.start_date..holiday.end_date).each do |date| %>
          <% public_holidays[date] = holiday.title %>
        <% end %>
      <% end %>
      <% @user_leaves.each do |leave| %>
        <% (leave.start_date..leave.end_date).each do |date| %>
          <% leaves[date] = leave.reason %>
        <% end %>
      <% end %>
      <% (@start_date..@end_date).each do |date| %>
        <% next if date.saturday? || date.sunday? %> <!-- Skip weekends -->
        <% session = @user_sessions.find { |s| s.check_in_time.to_date == date } %>
        <tr>
          <% if public_holidays.key?(date) %>
              <td><%= date.strftime("%A %b #{date.day.ordinalize}") %></td>
              <td style="text-align: center;" colspan="6"><strong><%= public_holidays[date] %></strong></td>
          <% elsif leaves.key?(date) %>
              <td><%= date.strftime("%A %b #{date.day.ordinalize}") %></td>
              <td style="text-align: center;" colspan="6"><strong>On Leave</strong></td>
          <% elsif session %>
              <td><%= session.created_at.strftime("%A %b #{session.created_at.day.ordinalize}") %></td>
              <td><%= session.check_in_time.in_time_zone("Asia/Karachi").strftime("%I:%M %p") %></td>
              <td><%= session.check_out_time.present? ? session.check_out_time.in_time_zone("Asia/Karachi").strftime("%I:%M %p") : "N/A" %></td>
              <td>
                <% if session.total_hours.present? %>
                  <% total_hours = session.total_hours %>
                  <% if total_hours > 28800 %> <!-- 28800 seconds = 8 hours -->
                    <% regular_hours = 28800 %>
                  <% else %>
                    <% regular_hours = total_hours %>
                  <% end %>
                  <%= "#{regular_hours / 3600}.#{regular_hours % 3600 / 60}" %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td>
                <% if session.total_hours.present? %>
                  <% total_hours = session.total_hours %>
                  <% if total_hours > 28800 %> <!-- 28800 seconds = 8 hours -->
                    <% overtime_hours = total_hours - 28800 %>
                  <% else %>
                    <% overtime_hours = 0 %>
                  <% end %>
                  <%= "#{overtime_hours / 3600}.#{overtime_hours % 3600 / 60}" %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td></td>
              <td>
                <% if session.total_hours.present? %>
                  <%= "#{session.total_hours / 3600} hours #{session.total_hours % 3600 / 60} minutes" %>
                <% else %>
                  N/A
                <% end %>
              </td>
            <% else %>
              <td><%= date.strftime("%A %b #{date.day.ordinalize}") %></td>
              <td style="text-align: center;" colspan="6">No Session</td>
            <% end %>
        </tr>
      <% end %>
      <tr>
        <td><strong>Total</strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= @current_user_leaves %></td>
        <td><strong><%= "#{@total_hours[user.id] / 3600 || 0} hours #{@total_hours[user.id] % 3600 / 60 || 0} minutes" %></strong></td>
      </tr>
    </tbody>
  </table>
  <% if user != @users.last %>
    <div class="page-break"></div>
  <% end %>
<% end %>
