<div class="main-content" style="margin-left: 260px; margin-top: 10px;">
  <div class="form-inline">
    <%= form_tag admin_monthly_users_list_path, method: :get, id: "filterForm" do %>
      <%= select_tag 'month', options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |month, index| [month, index + 1] }, params[:month].presence || Date.current.month), id: 'month', class: 'form-control select-month' %>
      <%= select_tag 'year', options_for_select((Date.current.year..Date.current.year + 5).to_a, params[:year].presence || Date.current.year), id: 'year', class: 'form-control select-year' %>
    <% end %>
    <p class="form-control select-hours">Expected Hours:<strong> <%= @total_working_hours %></strong></p>
    <button type="button" class="modal-btn btn-style float-right" onclick="generatePDF()">Download PDF</button>
    <button type="button" id="modal-btn" class="modal-btn btn-style">Download Excel</button>
    <div id="myModal" class="modal">
      <div class="modal-export">
        <div class="modal-header">
          <span class="close-modal" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
        </div>
        <h4>Select Columns to Export</h4><br>
          <%= form_tag admin_users_monthly_excel_path(params[:month], params[:year]), method: :get, id: "exportForm" do %>
            <label><%= check_box_tag 'regular_hours[]', 'regular_hours', true, class: 'columnCheckbox' %>  Regular Hours</label><br>
            <label><%= check_box_tag 'working_hours[]', 'working_hours', true, class: 'columnCheckbox' %>  Worked Hours</label><br>
            <label><%= check_box_tag 'overtime[]', 'overtime', true, class: 'columnCheckbox' %>  Over Time</label><br>
            <label><%= check_box_tag 'undertime[]', 'undertime', true, class: 'columnCheckbox' %>  Under Time</label><br>
            <label><%= check_box_tag 'leaves[]', 'leaves', true, class: 'columnCheckbox' %>  Leaves</label>
            <label><%= submit_tag 'Download Excel', class: "modal-btn excel-btn", onclick: "downloadExcel()" %>
          <% end %>
        <p style="text-align: center; margin-top: 10px;"></p>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
  <div id="users_data">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Total Hours</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user&.name %></td>
            <td><%= "#{@total_hours[user.id] / 3600 || 0} hours #{@total_hours[user&.id] % 3600 / 60 || 0} minutes" %></td>
            <td><%= check_box_tag 'selected_users[]', user.id, false, class: 'userCheckbox' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const monthSelect = document.getElementById('month');
  const yearSelect = document.getElementById('year');
  function updateDownloadLink() {
    const selectedMonth = monthSelect.value;
    const selectedYear = yearSelect.value;
    const selectedUsers = [];
    document.querySelectorAll('.userCheckbox:checked').forEach(function(checkbox) {
      selectedUsers.push(checkbox.value);
    });

    const excelDownloadUrl = `/admin/monthly_excel/${selectedMonth}/${selectedYear}.xlsx?selected_users=${selectedUsers.join(',')}`;

    document.getElementById('download-excel-link').setAttribute('href', excelDownloadUrl);
  }
  monthSelect.addEventListener('change', updateDownloadLink);
  yearSelect.addEventListener('change', updateDownloadLink);
  updateDownloadLink();
});

function generatePDF() {
  var month = document.getElementById('month').value;
  var year = document.getElementById('year').value;
  var selectedUsers = [];
  document.querySelectorAll('.userCheckbox:checked').forEach(function(checkbox) {
    selectedUsers.push(checkbox.value);
  });

  var form = document.createElement('form');
  form.setAttribute('method', 'get');
  form.setAttribute('action', '<%= admin_monthly_report_path(format: :pdf) %>');
  var monthField = document.createElement('input');
  monthField.setAttribute('type', 'hidden');
  monthField.setAttribute('name', 'month');
  monthField.setAttribute('value', month);
  form.appendChild(monthField);
  var yearField = document.createElement('input');
  yearField.setAttribute('type', 'hidden');
  yearField.setAttribute('name', 'year');
  yearField.setAttribute('value', year);
  form.appendChild(yearField);
  selectedUsers.forEach(function(userId) {
    var userField = document.createElement('input');
    userField.setAttribute('type', 'hidden');
    userField.setAttribute('name', 'selected_users[]');
    userField.setAttribute('value', userId);
    form.appendChild(userField);
  });
  document.body.appendChild(form);
  form.submit();
}

function downloadExcel() {
  const selectedMonth = document.getElementById('month').value;
  const selectedYear = document.getElementById('year').value;
  const selectedColumns = [];
  const columnCheckboxes = document.querySelectorAll('.columnCheckbox:checked');
  if (columnCheckboxes.length === 0) {
    alert('Please select at least one column.');
    return; // Exit function if no column checkbox is checked
  }
  const selectedUsers = [];
  document.querySelectorAll('.userCheckbox:checked').forEach(function(checkbox) {
    selectedUsers.push(checkbox.value);
  });

  columnCheckboxes.forEach(function(checkbox) {
    selectedColumns.push(checkbox.value);
  });

  const excelDownloadUrl = `/admin/monthly_excel/${selectedMonth}/${selectedYear}.xlsx?selected_columns=${selectedColumns.join(',')}&selected_users=${selectedUsers.join(',')}`;

  const link = document.createElement('a');
  link.setAttribute('href', excelDownloadUrl);
  link.setAttribute('target', '_blank');
  document.body.appendChild(link);
  link.click();
  document.body.removeChild(link);

  setTimeout(() => {
  location.reload();
  }, 2000);
}

  var modal = document.getElementById("myModal");
  var btn = document.getElementById("modal-btn");

  btn.onclick = function() {
    modal.style.display = "block";
  }

  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

</script>
