<div class="main-content" style="margin-left: 260px; margin-top: 10px;">
  <div class="form-inline">
    <%= form_tag admin_monthly_users_list_path, method: :get, id: "filterForm" do %>
      <%= select_tag 'month', options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |month, index| [month, index + 1] }, params[:month].presence || Date.current.month), id: 'month', class: 'form-control select-month' %>
      <%= select_tag 'year', options_for_select((Date.current.year..Date.current.year + 5).to_a, params[:year].presence || Date.current.year), id: 'year', class: 'form-control select-year' %>
    <% end %>
    <p class="form-control select-hours">Expected Hours:<strong> <%= @total_working_hours %></strong></p>
    <button type="button" id="modal-btn-pdf" class="modal-btn btn-style float-right">Download PDF</button>
    <div id="myModalPdf" class="modal">
      <div class="modal-export">
        <div class="modal-header">
          <span class="report-close-modal" onclick="document.getElementById('myModalPdf').style.display='none'">&times;</span>
        </div>
        <h4>Select Columns to Export to PDF</h4><br>
        <%= form_tag admin_monthly_report_path(params[:month], params[:year]), method: :get do %>
          <label><%= check_box_tag 'regular_hours[]', 'regular_hours', true, class: 'PdfCheckbox' %> Regular Hours</label><br>
          <label><%= check_box_tag 'worked_hours[]', 'worked_hours', true, class: 'PdfCheckbox' %> Worked Hours</label><br>
          <label><%= check_box_tag 'over_time[]', 'over_time', true, class: 'PdfCheckbox' %> Over Time</label><br>
          <label><%= check_box_tag 'under_time[]', 'under_time', true, class: 'PdfCheckbox' %> Under Time</label><br>
          <label><%= check_box_tag 'leaves[]', 'leaves', true, class: 'PdfCheckbox' %> Leaves</label><br>
          <label><%= check_box_tag 'absentees[]', 'absentees', true, class: 'PdfCheckbox' %> Absentees</label>
          <%= submit_tag 'Download PDF', class: "excel-btn", onclick: "generatePDF(event)" %>
        <% end %>
        <p style="text-align: center; margin-top: 10px;"></p>
        <div class="modal-footer"></div>
      </div>
    </div>
    <button type="button" id="modal-btn" class="modal-btn btn-style">Download Excel</button>
    <div id="myModal" class="modal">
      <div class="modal-export">
        <div class="modal-header">
          <span class="report-close-modal" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
        </div>
        <h4>Select Columns to Export</h4><br>
        <%= form_tag admin_users_monthly_excel_path(params[:month], params[:year]), method: :get, id: "exportForm" do %>
          <label><%= check_box_tag 'regular_hours[]', 'regular_hours', true, class: 'columnCheckbox' %> Regular Hours</label><br>
          <label><%= check_box_tag 'worked_hours[]', 'worked_hours', true, class: 'columnCheckbox' %> Worked Hours</label><br>
          <label><%= check_box_tag 'over_time[]', 'over_time', true, class: 'columnCheckbox' %> Over Time</label><br>
          <label><%= check_box_tag 'under_time[]', 'under_time', true, class: 'columnCheckbox' %> Under Time</label><br>
          <label><%= check_box_tag 'leaves[]', 'leaves', true, class: 'columnCheckbox' %> Leaves</label><br>
          <label><%= check_box_tag 'absentees[]', 'absentees', true, class: 'columnCheckbox' %> Absentees</label>
          <%= submit_tag 'Download Excel', class: "excel-btn", onclick: "downloadExcel()" %>
        <% end %>
        <p style="text-align: center; margin-top: 10px;"></p>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
  <div id="users_data">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Total Hours</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user&.name %></td>
            <td><%= "#{@total_hours[user.id] / 3600 || 0} hours #{@total_hours[user&.id] % 3600 / 60 || 0} minutes" %></td>
            <td><%= check_box_tag 'selected_users[]', user.id, false, class: 'userCheckbox' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const monthSelect = document.getElementById('month');
  const yearSelect = document.getElementById('year');
  
  function updateDownloadLink() {
    const selectedMonth = monthSelect.value;
    const selectedYear = yearSelect.value;
    const selectedUsers = [];
    document.querySelectorAll('.userCheckbox:checked').forEach(function(checkbox) {
      selectedUsers.push(checkbox.value);
    });

    const excelDownloadUrl = `/admin/monthly_excel/${selectedMonth}/${selectedYear}.xlsx?selected_users=${selectedUsers.join(',')}`;

    document.getElementById('download-excel-link').setAttribute('href', excelDownloadUrl);
  }
  
  monthSelect.addEventListener('change', updateDownloadLink);
  yearSelect.addEventListener('change', updateDownloadLink);
  updateDownloadLink();
});

function generatePDF(event) {
  event.preventDefault();
  
  var month = document.getElementById('month').value;
  var year = document.getElementById('year').value;
  
  const columnCheckboxes = document.querySelectorAll('.PdfCheckbox:checked');
  if (columnCheckboxes.length === 0) {
    alert('Please select at least one column.');
    return; // Exit function if no column checkbox is checked
  }
  
  const selectedUsers = [];
  document.querySelectorAll('.userCheckbox:checked').forEach(function(checkbox) {
    selectedUsers.push(checkbox.value);
  });

  var form = document.createElement('form');
  form.setAttribute('method', 'get');
  form.setAttribute('action', '<%= admin_monthly_report_path(format: :pdf) %>');
  
  var monthField = document.createElement('input');
  monthField.setAttribute('type', 'hidden');
  monthField.setAttribute('name', 'month');
  monthField.setAttribute('value', month);
  form.appendChild(monthField);
  
  var yearField = document.createElement('input');
  yearField.setAttribute('type', 'hidden');
  yearField.setAttribute('name', 'year');
  yearField.setAttribute('value', year);
  form.appendChild(yearField);
  
  var selectedColumns = [];
  document.querySelectorAll('.PdfCheckbox:checked').forEach(function(checkbox) {
    selectedColumns.push(checkbox.value);
  });
  
  var selectedColumnsField = document.createElement('input');
  selectedColumnsField.setAttribute('type', 'hidden');
  selectedColumnsField.setAttribute('name', 'selected_columns');
  selectedColumnsField.setAttribute('value', selectedColumns.join(','));
  form.appendChild(selectedColumnsField);

  var selectedUsersField = document.createElement('input');
  selectedUsersField.setAttribute('type', 'hidden');
  selectedUsersField.setAttribute('name', 'selected_users');
  selectedUsersField.setAttribute('value', selectedUsers.join(','));
  form.appendChild(selectedUsersField);
  
  document.body.appendChild(form);
  form.submit();
}

function downloadExcel() {
  const selectedMonth = document.getElementById('month').value;
  const selectedYear = document.getElementById('year').value;
  const selectedColumns = [];
  const columnCheckboxes = document.querySelectorAll('.columnCheckbox:checked');
  if (columnCheckboxes.length === 0) {
    alert('Please select at least one column.');
    return; // Exit function if no column checkbox is checked
  }
  const selectedUsers = [];
  document.querySelectorAll('.userCheckbox:checked').forEach(function(checkbox) {
    selectedUsers.push(checkbox.value);
  });

  columnCheckboxes.forEach(function(checkbox) {
    selectedColumns.push(checkbox.value);
  });

  const excelDownloadUrl = `/admin/monthly_excel/${selectedMonth}/${selectedYear}.xlsx?selected_columns=${selectedColumns.join(',')}&selected_users=${selectedUsers.join(',')}`;

  window.location.href = excelDownloadUrl;
}

document.getElementById('modal-btn-pdf').onclick = function() {
  document.getElementById('myModalPdf').style.display = 'block';
};

document.getElementById('modal-btn').onclick = function() {
  document.getElementById('myModal').style.display = 'block';
};

document.querySelectorAll('.report-close-modal').forEach(function(closeButton) {
  closeButton.onclick = function() {
    document.getElementById('myModal').style.display = 'none';
    document.getElementById('myModalPdf').style.display = 'none';
  };
});

window.onclick = function(event) {
  if (event.target == document.getElementById('myModal')) {
    document.getElementById('myModal').style.display = 'none';
  }
  if (event.target == document.getElementById('myModalPdf')) {
    document.getElementById('myModalPdf').style.display = 'none';
  }
};
</script>
