<style>
.attendance-table {
  border-collapse: collapse;
  width: 100%;
}

.attendance-table th, .attendance-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.attendance-table th {
  background-color: #87CEEB;
  font-weight: bold;
}

.attendance-heading {
  background-color: #87CEEB;
  color: white; /* Set text color to ensure readability */
  padding: 10px; /* Add padding for better appearance */
}

.absent-day {
  color: red;
  font-weight: bold;
}

@media print {
  .user-attendance, .user-data {
    page-break-after: always;
  }
}
</style>

<h1 class="attendance-heading">Monthly Report</h1>
<p style="float: right; margin: 5px;">Month:  <strong><%= Date::MONTHNAMES[@month] %></strong></p>
<div style="display: flex; justify-content: space-between; align-items: center; margin: 5px;">
  <p style="float: left; margin: 0; margin-right: 10px;">Expected Hours:<strong><%=" #{@total_working_hours}"%></strong></p>
</div>
<table class="attendance-table user-data">
  <thead>
    <tr>
      <th>Name</th>
      <th>Regular Hours</th>
      <th>Worked Hours</th>
      <th>Over Time</th>
      <th>Under Time</th>
      <th>Leaves</th>
      <th>Absent</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
    <% @current_user_leaves = Leave.where("start_date <= ? AND end_date >= ? AND status = ? AND user_id = ?", @end_date, @start_date, 1, user.id).sum { |leave| (leave.end_date - leave.start_date).to_i + 1 }%>
    <% d_leaves = user.leaves.pluck(:start_date, :end_date)
       %>
       <%  @leave_dates = d_leaves.flat_map { |start_date, end_date| (start_date.to_date..end_date.to_date).to_a }.uniq
 %>
      <td><%= user.name %></td>
      <% if user.leaves.present? %>
      <% @working_hours = @total_working_hours - @leave_dates.count * 8 %>
      <% else %>
      <% @working_hours = @total_working_hours %>
      <% end %>
      <td><%= @working_hours %></td>
      <% if @working_hours < @total_hours[user.id] / 3600 %>
        <td><%= "#{@working_hours}" %></td>
      <% else %>
        <td><%= "#{@total_hours[user.id] / 3600}" %></td>
      <% end %>
      <% if @working_hours < @total_hours[user.id] / 3600 %>
        <td><%= (@total_hours[user.id] / 3600) - @working_hours %></td>
      <% else %>
        <td><%= 0 %></td>
      <% end %>
      <% if @working_hours > @total_hours[user.id] / 3600 %>
        <td><%= @working_hours - (@total_hours[user.id] / 3600) %></td>
      <% else %>
        <td><%= 0 %></td>
      <% end %>
      <td><%=  @current_user_leaves %></td>
      <td><%= @leaves[user.id] %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<% @users.each do |user| %>
  <% @current_user_leaves = Leave.where("start_date <= ? AND end_date >= ? AND status = ? AND user_id = ?", @end_date, @start_date, 1, user.id).sum { |leave| (leave.end_date - leave.start_date).to_i + 1 }%>
<h1 class="attendance-heading">Timesheet</h1>
<p style="float: left; margin: 5px;">Employee: <strong><%= user.name %></strong></p>
<p style="float: right; margin: 5px;">Month:  <strong><%= Date::MONTHNAMES[@month] %></strong></p>
  <br>
  <br>
  <p style="float: left; margin: 5px;">Supervisor:</p>
  <span style="float: left; margin: 5px;"><strong><%= user.supervisor.present? ? user.supervisor : "Fahad" %></strong></span>
  <span style="float: right; margin: 5px;"></span>
<div style="display: flex; justify-content: space-between; align-items: center; margin: 5px;">
  <p style="float: right; margin: 0; margin-right: 10px;">Regular Hours:8</p>
</div>
  <br>
  <br>
  <table class="attendance-table user-attendance">
    <thead>
      <tr>
        <th>Date</th>
        <th>Check In</th>
        <th>Check Out</th>
        <th>Regular Hours</th>
        <th>Overtime</th>
        <th>Leaves</th>
        <th>Total Hours</th>
      </tr>
    </thead>
    <tbody>
    <% @user_sessions = user.attendances.where(check_in_time: @start_date.beginning_of_day..@end_date.end_of_day).order(created_at: :asc)%>
      <% @user_sessions.each do |session| %>
      <tr>
        <td><%= session.created_at.strftime("%A %b #{session.created_at.day.ordinalize}") %></td>
        <td><%= session.check_in_time.in_time_zone("Asia/Karachi").strftime("%I:%M %p") %></td>
        <td><%= session.check_out_time.present? ? session.check_out_time.in_time_zone("Asia/Karachi").strftime("%I:%M %p") : "N/A" %></td>
          <td>
            <% if session.total_hours.present? %>
              <% total_hours = session.total_hours %>
              <% if total_hours > 28800 %> <!-- 28800 seconds = 8 hours -->
                <% regular_hours = 28800 %>
              <% else %>
                <% regular_hours = total_hours %>
              <% end %>
              <%= "#{regular_hours / 3600}.#{regular_hours % 3600 / 60}" %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td>
            <% if session.total_hours.present? %>
              <% total_hours = session.total_hours %>
              <% if total_hours > 28800 %> <!-- 28800 seconds = 8 hours -->
                <% overtime_hours = total_hours - 28800 %>
              <% else %>
                <% overtime_hours = 0 %>
              <% end %>
              <%= "#{overtime_hours / 3600}.#{overtime_hours % 3600 / 60}" %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td></td>
        <td>
          <% if session.total_hours.present? %>
          <%= "#{session.total_hours / 3600} hours #{session.total_hours % 3600 / 60} minutes" %>
          <% else %>
          N/A
          <% end %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td><strong>Total</strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= @leaves[user.id] + @current_user_leaves %></td>
        <td><strong><%= "#{@total_hours[user.id] / 3600 || 0} hours #{@total_hours[user.id] % 3600 / 60 || 0} minutes" %></strong></td>
      </tr>
    </tbody>
  </table>
<% end %>
