<div class="main-content" style="margin-left: 260px; margin-top: 10px;">
  <div class="form-inline">
    <%= form_tag admin_user_leave_path, method: :get, id: "filterForm" do %>
        <%= select_tag 'month', options_for_select(Date::MONTHNAMES.compact.each_with_index.map { |month, index| [month, index + 1] }, params[:month].presence || Date.current.month), id: 'month', class: 'form-control select-month' %>
        <%= select_tag 'year', options_for_select((Date.current.year..Date.current.year + 5).to_a, params[:year].presence || Date.current.year), id: 'year', class: 'form-control select-year' %>
    <% end %>
    <button class="modal-btn btn-style float-right" onclick="generatePDF()">Download PDF</button>
  </div>
  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Leaves</th>
      <th>Absentees</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% @user_leaves_count =  @current_user_leaves = Leave.where("start_date <= ? AND end_date >= ? AND status = ? AND user_id = ?", @end_date, @start_date, 1, user.id).sum { |leave| (leave.end_date - leave.start_date).to_i + 1 }
        @attendance_data = user.attendances.where(check_in_time: @start_date.beginning_of_day..@end_date.end_of_day)
        @attendance_days = @attendance_data.count
        @public_holidays_count = @public_holidays.count
        @absentee_days = [@total_days - (@attendance_days + @user_leaves_count + @public_holidays_count), 0].max
      %>
      <tr>
        <td><%= user.name %></td>
        <td><%= @user_leaves_count %></td>
        <td><%= @absentee_days %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<script>
  function generatePDF() {
    var month = document.getElementById('month').value;
    var year = document.getElementById('year').value;
    var selectedUsers = [];
    document.querySelectorAll('.userCheckbox:checked').forEach(function(checkbox) {
      selectedUsers.push(checkbox.value);
    });
    var form = document.createElement('form');
    form.setAttribute('method', 'get');
    form.setAttribute('action', '<%= admin_leave_report_path(format: :pdf) %>');

    var monthField = document.createElement('input');
    monthField.setAttribute('type', 'hidden');
    monthField.setAttribute('name', 'month');
    monthField.setAttribute('value', month);
    form.appendChild(monthField);

    var yearField = document.createElement('input');
    yearField.setAttribute('type', 'hidden');
    yearField.setAttribute('name', 'year');
    yearField.setAttribute('value', year);
    form.appendChild(yearField);

    selectedUsers.forEach(function(userId) {
      var userField = document.createElement('input');
      userField.setAttribute('type', 'hidden');
      userField.setAttribute('name', 'selected_users[]');
      userField.setAttribute('value', userId);
      form.appendChild(userField);
    });

    document.body.appendChild(form);
    form.submit();
  }
</script>