<div class="employee-container">
  <div class="employee-profile-card">

    <div class="employee-profile-img">
      <div class="profile-picture">
        <img src="<%= asset_path('dp.jpeg') %>" alt="Profile pic" class="profile-pic">
        <div>
        <div class="employee-profile-icon">
          <img src="<%= asset_path('camera-icon.svg') %>" alt="Camera Icon">
        </div>
        </div>
      </div>
      <div class="employee-profile-name">
        <h5> <%= @user.name %> </h3>
      </div>
    </div>

    <div class="profile-fields-box">
      <div class="profile-field">
        <p class="label">Email</p>
        <p class="value"><span><%= @user.email %></span></p>
      </div>

      <div class="profile-field">
        <p class="label">Slack ID</p>
        <p class="value"><span><%= @user.slack_member_id.present? ? @user.slack_member_id : "TU7Q45YH78"%></span></p>
      </div>

      <div class="profile-field">
        <p class="label">Joining Date</p>
        <p class="value"><span><%= @user.created_at %></span></p>
      </div>
    </div>

  </div>
</div>