<% if @public_link.expired? %>
<p style="color: red"> This link has been expired! </p>
<% else %>
  <h1>Interview Details</h1>
  <br>
  <p><strong>Job Post:</strong> <%= @job_post.title %></p>
  <p><strong>Applicant Name:</strong> <%= @job_application.name %></p>
  <p><strong>Applicant Qualification:</strong> <%= @job_application.qualification %></p>
  <p><strong>Applicant Experience:</strong> <%= @job_application.current_experience %></p>
  <p><strong>Interview Date:</strong> <%= @interview.interview_date.strftime('%A, %B %d, %Y') %></p>
  <p><strong>Interview Time:</strong> <%= @interview.interview_time.strftime('%I:%M %p') %></p>
  <%= link_to 'View Resume', view_resume_path(@job_application.id), class: "download-resume-btn", id: "download-resume-btn", target: "_blank" %>

<% end %>
