<!DOCTYPE html>
<html>
  <head>
    <title>TechX Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.svg' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'forgot_password', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <%= render 'shared/header' %>
    <%= render :partial => 'shared/message' %>
  <% end %>
    <%= yield %>
      <% if user_signed_in? %>
      <%= render 'shared/sidebar' %>
    <% end %>
  </body>
</html>
